@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

<div class="container">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>@localizer["Order completed successfully"]</h2>
        <p>@localizer["You can check all your orders in the Orders section of your profile"]</p>
        <hr />
        <p>@localizer["Thank you!"]</p>
    </div>
</div>