<div class="container">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Your acciunt was created successfully</h2>
        <p>You can now log in to your acount using your credenials</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>